In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("cleaned_data.csv")

In [13]:
df.head()

,Unnamed: 0,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Year_Joined
0,0,Bytedance,180,2017-04-07 00:00:00,Artificial intelligence,Beijing,China,Asia,2012,8.0,Sequoia Capital China,2017
1,0,Bytedance,180,2017-04-07 00:00:00,Artificial intelligence,Beijing,China,Asia,2012,8.0,SIG Asia Investments,2017
2,0,Bytedance,180,2017-04-07 00:00:00,Artificial intelligence,Beijing,China,Asia,2012,8.0,Sina Weibo,2017
3,0,Bytedance,180,2017-04-07 00:00:00,Artificial intelligence,Beijing,China,Asia,2012,8.0,Softbank Group,2017
4,1,SpaceX,100,2012-12-01 00:00:00,Other,Hawthorne,United States,North America,2002,7.0,Founders Fund,2012

In [14]:
del df['Unnamed: 0']

In [15]:
# re-check if all the missing values have been addressed
df.isnull().sum()

Company             0
Valuation           0
Date Joined         0
Industry            0
City                0
Country             0
Continent           0
Year Founded        0
Funding             0
Select Investors    0
Year_Joined         0
dtype: int64

In [16]:
df.columns

Index(['Company', 'Valuation', 'Date Joined', 'Industry', 'City', 'Country',
       'Continent', 'Year Founded', 'Funding', 'Select Investors',
       'Year_Joined'],
      dtype='object')

In [17]:
df['Industry'].nunique()

16

In [19]:
df['Industry'].unique()

array(['Artificial intelligence', 'Other',
       'E-commerce & direct-to-consumer', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery', 'Consumer & retail',
       'Data management & analytics', 'Edtech', 'Health', 'Hardware',
       'Auto & transportation', 'Travel', 'Cybersecurity',
       'Mobile & telecommunications', 'Artificial Intelligence'],
      dtype=object)

In [8]:
df.loc[df['Country']=='Indonesia']

,Unnamed: 0,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Year_Joined
47,16,J&T Express,20,2021-04-07 00:00:00,"Supply chain, logistics, & delivery",Jakarta,Indonesia,Asia,2015,5.000,Hillhouse Capital Management,2021
48,16,J&T Express,20,2021-04-07 00:00:00,"Supply chain, logistics, & delivery",Jakarta,Indonesia,Asia,2015,5.000,Boyu Capital,2021
49,16,J&T Express,20,2021-04-07 00:00:00,"Supply chain, logistics, & delivery",Jakarta,Indonesia,Asia,2015,5.000,Sequoia Capital China,2021
1002,350,Traveloka,3,2017-01-01 00:00:00,Travel,Jakarta,Indonesia,Asia,2012,1.000,Global Founders Capital,2017
1003,350,Traveloka,3,2017-01-01 00:00:00,Travel,Jakarta,Indonesia,Asia,2012,1.000,East Ventures,2017
1004,350,Traveloka,3,2017-01-01 00:00:00,Travel,Jakarta,Indonesia,Asia,2012,1.000,Expedia Inc.,2017
1537,540,Akulaku,2,2022-02-15 00:00:00,E-commerce & direct-to-consumer,Jakarta,Indonesia,Asia,2014,0.438,DCM Ventures,2022
1538,540,Akulaku,2,2022-02-15 00:00:00,E-commerce & direct-to-consumer,Jakarta,Indonesia,Asia,2014,0.438,IDG Capital,2022
1539,540,Akulaku,2,2022-02-15 00:00:00,E-commerce & direct-to-consumer,Jakarta,Indonesia,Asia,2014,0.438,Siam Commercial Bank,2022
2415,849,Ajaib,1,2021-10-04 00:00:00,Fintech,Jakarta,Indonesia,Asia,2018,0.245,Softbank Ventures Asia,2021
2416,849,Ajaib,1,2021-10-04 00:00:00,Fintech,Jakarta,Indonesia,Asia,2018,0.245,Alpha JWC Ventures,2021
2417,849,Ajaib,1,2021-10-04 00:00:00,Fintech,Jakarta,Indonesia,Asia,2018,0.245,Insignia Ventures Partners,2021
2666,937,Kopi Kenangan,1,2021-12-27 00:00:00,Consumer & retail,Jakarta,Indonesia,Asia,2017,0.333,Horizons Ventures,2021
2667,937,Kopi Kenangan,1,2021-12-27 00:00:00,Consumer & retail,Jakarta,Indonesia,Asia,2017,0.333,Sequoia Capital India,2021
2668,937,Kopi Kenangan,1,2021-12-27 00:00:00,Consumer & retail,Jakarta,Indonesia,Asia,2017,0.333,Alpha JWC Ventures,2021
2991,1050,Xendit,1,2021-09-14 00:00:00,Fintech,Jakarta,Indonesia,Asia,2014,0.215,Accel,2021
2992,1050,Xendit,1,2021-09-14 00:00:00,Fintech,Jakarta,Indonesia,Asia,2014,0.215,Y Combinator,2021
2993,1050,Xendit,1,2021-09-14 00:00:00,Fintech,Jakarta,Indonesia,Asia,2014,0.215,Amasia,2021