In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("final_data.csv")

In [14]:
df

,Unnamed: 0,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Year_Joined
0,0,Bytedance,180,2017-04-07 00:00:00,Artificial intelligence,Beijing,China,Asia,2012,8.0,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,1,SpaceX,100,2012-12-01 00:00:00,Other,Hawthorne,United States,North America,2002,7.0,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,2,SHEIN,100,2018-07-03 00:00:00,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0,"Tiger Global Management, Sequoia Capital China...",2018
3,3,Stripe,95,2014-01-23 00:00:00,Fintech,San Francisco,United States,North America,2010,2.0,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,4,Klarna,46,2011-12-12 00:00:00,Fintech,Stockholm,Sweden,Europe,2005,4.0,"Institutional Venture Partners, Sequoia Capita...",2011
...,...,...,...,...,...,...,...,...,...,...,...,...
1067,7,Assembly,1,2021-09-21,Internet software & services,Culver City,United States,North America,2019,0.2,"Advent International, PSG, Providence Equity P...",2021
1068,8,Carson Group,1,2021-07-14,Fintech,Lincoln,United States,North America,2012,0.2,Bain Capital,2021
1069,9,Iodine Software,1,2021-12-01,Data management & analytics,Austin,United States,North America,2010,0.2,"Advent International, Bain Capital Ventures, S...",2021
1070,10,Kendra Scott,1,2016-12-21,Consumer & retail,Austin,United States,North America,2002,0.2,"Berkshire Partners, Norwest Venture Partners",2016
1071,11,Poizon,1,2019-04-29,Mobile & telecommunications,Shanghai,China,Asia,2015,0.2,"DST Global, Sequoia Capital China, Gaorong Cap...",2019

In [15]:
del df['Unnamed: 0']

In [16]:
df

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Year_Joined
0,Bytedance,180,2017-04-07 00:00:00,Artificial intelligence,Beijing,China,Asia,2012,8.0,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,100,2012-12-01 00:00:00,Other,Hawthorne,United States,North America,2002,7.0,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,100,2018-07-03 00:00:00,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,95,2014-01-23 00:00:00,Fintech,San Francisco,United States,North America,2010,2.0,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Klarna,46,2011-12-12 00:00:00,Fintech,Stockholm,Sweden,Europe,2005,4.0,"Institutional Venture Partners, Sequoia Capita...",2011
...,...,...,...,...,...,...,...,...,...,...,...
1067,Assembly,1,2021-09-21,Internet software & services,Culver City,United States,North America,2019,0.2,"Advent International, PSG, Providence Equity P...",2021
1068,Carson Group,1,2021-07-14,Fintech,Lincoln,United States,North America,2012,0.2,Bain Capital,2021
1069,Iodine Software,1,2021-12-01,Data management & analytics,Austin,United States,North America,2010,0.2,"Advent International, Bain Capital Ventures, S...",2021
1070,Kendra Scott,1,2016-12-21,Consumer & retail,Austin,United States,North America,2002,0.2,"Berkshire Partners, Norwest Venture Partners",2016
1071,Poizon,1,2019-04-29,Mobile & telecommunications,Shanghai,China,Asia,2015,0.2,"DST Global, Sequoia Capital China, Gaorong Cap...",2019

In [17]:
df2 = df.copy()
df2['Select Investors'] = df2['Select Investors'].str.split(', ')

In [18]:
#In "select investors" column, there're multiple values. This code will split all those values into different rows, which would make analysis easier
df2 = df2.explode('Select Investors')

In [19]:
# df2[df2['Select Investors'].str.contains('Alibaba')].groupby('Company').value_counts()

In [20]:
#convert the cleaned data into another csv file
df2.to_csv("cleaned_data.csv")

Company              object
Valuation             int64
Date Joined          object
Industry             object
City                 object
Country              object
Continent            object
Year Founded          int64
Funding             float64
Select Investors     object
Year_Joined           int64
dtype: object